.row {
    display: flex;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    justify-content: space-between;
}
.hero {
    height: 48px;
    margin: -13px 0 0 0;
}
.top-bar-title {
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    color: #00AAE4;
    margin: 0 0 0 -18px;  
}
.logo-box {
    width: 200px;
    margin-right: auto;
    display: flex;
    align-items: center;
}